.achievement-section{
    width:100%;
    padding:60px 70px;
    background:#f8fafc;

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:24px;
}

/* BOTH CARDS */
.achievement-card,
.curriculum-card{
    background:white;
    border-radius:18px;
    padding:34px;
    border:1px solid #edf2f7;
}

/* SMALL BLUE TITLE */
.section-subtitle{
    color:#2563eb;
    font-size:12px;
    font-weight:700;
    margin-bottom:18px;
    letter-spacing:0.5px;
}

/* LEFT TITLE */
.achievement-card h2{
    font-size:22px;
    line-height:1.4;
    color:#0f172a;
    margin-bottom:24px;
    max-width:400px;
}

/* LIST */
.achievement-list{
    list-style:none;
    display:flex;
    flex-direction:column;
    gap:16px;
}

.achievement-list li{
    font-size:15px;
    color:#334155;
    display:flex;
    align-items:center;
}

/* IMAGE */
.achievement-image{
    display:flex;
    justify-content:flex-end;
    margin-top:20px;
}

.achievement-image img{
    width:220px;
    object-fit:contain;
    z-index: 1;
}

/* CURRICULUM */
.curriculum-list{
    display:flex;
    flex-direction:column;
}

.curriculum-item{
    display:flex;
    align-items:center;
    gap:18px;
    padding:14px 0;
    border-bottom:1px solid #e2e8f0;
}

.curriculum-item:last-child{
    border-bottom:none;
}

.day-badge{
    min-width:72px;
    background:#2563eb;
    color:white;
    text-align:center;
    padding:10px 0;
    border-radius:8px;
    font-size:13px;
    font-weight:600;
}

.curriculum-item p{
    font-size:15px;
    color:#334155;
    line-height:1.4;
}

/* ==================== */
/* TABLET */
/* ==================== */

@media(max-width:1024px){

    .achievement-section{
        padding:50px 40px;
        gap:20px;
    }

    .achievement-card,
    .curriculum-card{
        padding:28px;
    }
}

/* ==================== */
/* MOBILE */
/* ==================== */

@media(max-width:768px){

    .achievement-section{
        grid-template-columns:1fr;
        padding:40px 20px;
    }

    .achievement-card,
    .curriculum-card{
        padding:24px;
    }

    .achievement-card h2{
        font-size:24px;
    }

    .achievement-image{
        justify-content:center;
    }

    .achievement-image img{
        width:180px;
    }

    .curriculum-item{
        gap:14px;
    }

    .curriculum-item p{
        font-size:14px;
    }

    .day-badge{
        min-width:65px;
        font-size:12px;
    }
}